langchain_openai
langchain_core
python-dotenv
streamlit
langchain_community
langchain_groq
langserve
fastapi
pydantic
uvicorn
sse_starlette
langchain-ollama
ipykernel
pypdf
chromadb
faiss-cpu
langgraph
langsmith
duckduckgo-search

langchain_google_genai
langchain_huggingface

bs4
protobuf
langchain 
langchain-pinecone